<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <script src="/static/js/main.js" defer></script>
</head>
<body>

<!--    TODO multiline input required-->
<h1>New story</h1>
<form id="saveNewStory" action="javascript:submitNewStory()">

    <p>
        <label for="story_title">Story title</label>
        <input name="title" id="story_title" type="text" placeholder="Title" minlength="5" required>
    </p>

    <p>
        <label for="user_story">Story</label>
        <input name="description" id="user_story" placeholder="Story" required>
    </p>

    <p>
        <label for="acceptance">Acceptance Criteria</label>
        <input name="acceptanceCriteria" id="acceptance" type="text" placeholder="Acceptance" required>
    </p>

    <p>
        <label for="business_value">Business Value</label>
        <input name="businessValue" id="business_value" type="number" placeholder="Value" required>
    </p>

    <p>
        <label for="estimation">Estimation</label>
        <input name="estimation" id="estimation" type="number" placeholder="Estimation" required>
    </p>

    <input type="submit" value="Submit">
</form>
</body>
</html>