<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>

    <!--    <script type="text/javascript" src="/js/main.js" defer></script>-->
</head>
<body>

<!--    TODO multiline input required-->
<h1 th:text="${current_story.title}"></h1>
<form id="updateStory">

    <p>
        <label for="story_title">Story title</label>
        <input name="title" id="story_title" type="text" placeholder="Title" minlength="5"
               th:value="${current_story.title}" required>
    </p>

    <p>
        <label for="user_story">Story</label>
        <input name="description" id="user_story" placeholder="Story" th:value="${current_story.description}"
               required><br>
    </p>

    <p>
        <label for="acceptance">Acceptance Criteria</label>
        <input name="acceptanceCriteria" id="acceptance" type="text" placeholder="Acceptance"
               th:value="${current_story.acceptanceCriteria}" required>
    </p>

    <p>
        <label for="business_value">Business Value</label>
        <input name="businessValue" id="business_value" type="number" placeholder="Value"
               th:value="${current_story.businessValue}" required>
    </p>

    <p>
        <label for="estimation">Estimation</label>
        <input name="estimation" id="estimation" type="number" placeholder="Estimation"
               th:value="${current_story.estimation}" required>
    </p>

    <p>
        <label for="status">Status</label>
        <select id="status" th:data="${current_story.status}">
            <option id="planning" value="planning">Planning</option>
            <option id="todo" value="todo">To Do</option>
            <option id="in progress" value="in progress">In progress</option>
            <option id="review" value="review">Review</option>
            <option id="done" value="done">Done</option>
        </select>
    </p>

    <input type="submit" value="Submit">
</form>

<script defer>
    putCurrentStatusOption();
    document.getElementById("updateStory").addEventListener("submit", submitStory);

    function putCurrentStatusOption() {
        let currentOption = document.getElementById("status").attributes.data.value;
        document.getElementById(currentOption).setAttribute("selected", "selected")

    }

    function submitStory() {
        let URL = window.location.href;
        let input = {
            "title": document.getElementById("story_title").value,
            "description": document.getElementById("user_story").value,
            "acceptanceCriteria": document.getElementById("acceptance").value,
            "businessValue": document.getElementById("business_value").value,
            "estimation": document.getElementById("estimation").value,
            "status": document.getElementById("status").value,
        }

        let options = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(input)
        }

        fetch(URL, options)
            .then(response => response.json())
            .then(d => {
                console.log(d)
            })
            .catch(error => {
                console.log("Error occurred in submit form.")
            })
    }
</script>
</body>
</html>
