<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<h1>New story</h1>
<form action="/story" method="post">
    <p>Story title
        <input name="story" id="story_title" type="text" placeholder="Title">
    </p>

    <p>Story
        <input name="story" id="user_story" type="text" placeholder="Story">
    </p>

    <p>Acceptance Criteria
        <input name="story" id="acceptance" type="text" placeholder="Acceptance">
    </p>

    <p>Business Value
        <input name="story" id="business_value" type="text" placeholder="Value">
    </p>

    <p>Estimation
        <input name="story" id="estimation" type="text" placeholder="Estimation">
    </p>
    <input type="submit" value="Submit">
</form>

</body>
</html>